.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li svg {
  font-size: 80px;
  color: var(--bg);
  opacity: 0.8;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 7s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 15s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 25s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

.circles li:nth-child(11) {
  left: 70%;
  width: 50px;
  height: 50px;
  animation-delay: 0s;
  animation-duration: 6s;
}

.circles li:nth-child(12) {
  left: 25%;
  width: 30px;
  height: 30px;
  animation-delay: 0s;
  animation-duration: 15s;
}

.circles li:nth-child(13) {
  left: 5%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 7s;
}

.circles li:nth-child(14) {
  left: 35%;
  width: 50px;
  height: 50px;
  animation-delay: 0s;
  animation-duration: 11s;
}

.circles li:nth-child(15) {
  left: 95%;
  width: 40px;
  height: 40px;
  animation-delay: 0s;
  animation-duration: 9s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-3300px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.App {
  position: relative;
}

.barra {
  top: 0;
  left: 0;
  height: 5px;
  z-index: 1 !important;
  background-color: var(--main-color);
  position: fixed;
  transition: width 0.2s ease-out;
}

.container-icon {
  background-color: var(--bg);
  position: fixed;
  top: 15px;
  padding: 5px 20px 5px 5px;
  right: 0;
  cursor: pointer;
  z-index: 10;
}

#theme-open {
  color: var(--black);
  font-size: 30px;
  animation: rotate infinite 2s;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.themes-container {
  position: fixed;
  top: 0;
  right: -100%;
  background: var(--bg);
  border-left: var(--border);
  height: 100vh;
  width: 350px;
  z-index: 1000;
  text-align: right;
  padding: 20px;
  transition: all .3s;
}

.themes-container.active {
  right: 0;
  transition: all .3s;
}

.themes-container #theme-close {
  font-size: 40px;
  color: var(--black);
  cursor: pointer;
}

.themes-container h3 {
  text-align: center;
  color: var(--black);
  border-top: var(--border);
  border-bottom: var(--border);
  padding: 15px 0;
  margin: 20px 0;
}

.themes-container .theme-toggler {
  display: flex;
  align-items: center;
  justify-content: center;
}

.themes-container .theme-toggler span {
  color: var(--light-color);
}

.themes-container .theme-toggler .toggler {
  height: 40px;
  width: 100px;
  border-radius: 50px;
  background: var(--light-bg);
  position: relative;
  cursor: pointer;
  border: var(--border);
  margin: 0 10px;
}

.themes-container .theme-toggler .toggler::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background: #fff;
  transition: 0.2s linear;
}

.themes-container .theme-toggler.active .toggler::before {
  left: 65px;
}

.themes-container .theme-colors {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.themes-container .theme-colors .color {
  border-radius: 5px;
  height: 50px;
  width: 50px;
  cursor: pointer;
}

.themes-container .theme-colors .color:hover {
  opacity: 0.5;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 60px;
  margin: 10px;
  min-height: 100vh;
}

.container .content {
  background: var(--bg);
  border-radius: 5px;
  padding: 20px;
  box-shadow: var(--box-shadow);
  border: var(--border);
  text-align: center;
  width: 400px;
}

.container .content img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
}

.container .content h3 {
  color: var(--black);
  font-size: 25px;
}

.container .content p {
  color: var(--light-color);
  font-size: 15px;
  line-height: 2;
  padding: 10px 0;
}

.container .content .btn {
  margin-top: 10px;
  display: inline-block;
  border-radius: 5px;
  padding: 10px 30px;
  color: #fff;
  background: var(--main-color);
  font-size: 17px;
}

.container .content .btn:hover {
  opacity: 0.8;
  letter-spacing: 1px;
}
