footer {
    background-color: var(--bg);

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

footer img {
    width: 50%;
    object-fit: contain;
    background-color: #000;
    border-radius: 20px;
}

footer aside {
    width: 100%;
    padding-left: 20px;
}

footer aside h2 {
    font-size: 40px;
    margin-bottom: 3%;
    color: var(--main-color);
}

footer aside p {
    margin-bottom: 3%;
    margin-right: 3%;
    color: var(--light-color);
}

footer aside ul {
    font-size: 16px;
}

footer aside ul li {
    margin-bottom: 2%;
    color: var(--white);

    display: flex;
    align-items: center;
}

footer aside ul li svg {
    font-size: 25px;
    margin-right: 1%;
    color: var(--main-color);
}

/*--------------------- COPYRIGHT ---------------------*/

.copy {
    padding-top: 2%;
    padding-bottom: 2%;
    background-color: var(--light-bg);
    color: var(--white);
    font-size: clamp(0.8rem, 1.5vw, 16px);
    text-align: center;
}

.copy a {
    color: var(--white);
    margin-left: 2px;
    font-weight: 700;
}

.copy a:hover {
    color: var(--white);
    background-color: var(--black);
}

@media (max-width: 950px) {
    footer {
        flex-direction: column;
        align-items: center;
    }
    footer button {
        margin-bottom: 3%;
    }
} 
@media (max-width: 650px) {
    footer img {
        width: 100%;
        object-fit: contain;
    }
}
