.headerProjetos {
    background-color: rgb(68, 68, 68);
    height: 100%;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headerProjetos svg{
    color: var(--main-color);
    font-size: 50px;
}

.headerProjetos h1 {
    color: white;
    font-size: clamp(2rem, 4vw, 50px);
    padding-bottom: 1%;
}

.headerProjetos p {
    color: rgb(201, 201, 201);
    padding: 2%;
    font-size: 18px;
}

.projetos {
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: var(--light-bg);
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-x: hidden;
}